@model CreatePostVM


@{
    ViewData["Title"] = "Vytvořit příspěvek";
}


<section class="section-index-articles">
    <div class="section-hero">

    
        <div class="row">
    <div class="col-md-4" style="top:75px">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="text-area"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
               <div class="form-group" >
                <label asp-for="AppUserId" hidden class="control-label"></label>
                <input asp-for="AppUserId" hidden class="form-control" />
              </div>
             <div class="form-group">
                 <label asp-for="NickName" hidden class="control-label"></label>
                 <input asp-for="NickName" hidden class="form-control" />
             </div> 
            <div class="form-group">
                 <label asp-for="Games"></label>
                 <select asp-for="GameId"  asp-items="ViewBag.GameId">
                     <option disabled selected>--Vyberte hru--</option>
                 </select>
             </div>
            <div class="form-group">
                  <input type="submit" value="Vytvořit" class="btn-use btn-succes width-btn" />
                  <a class="btn-use btn-edit width-btn" asp-action="Index">Zpět</a>
            </div>
        </form>
    </div>
 </div>
</div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}