@model NewPortfolio.Models.Article

@{
    ViewData["Title"] = "Delete";
}

<section class="section-index">

    <div class="section-hero">
  <div>
      <div>
          <p class="p-hero"><h6 class="h6-hero">Titulek</h6> @Html.DisplayFor(model=>model.Title)</p>
          <hr />
                <p class="p-hero"><h6 class="h6-hero">Popisek</h6> @Html.DisplayFor(model=>model.Description)</p>
          <hr />
                <p class="p-hero"><h6 class="h6-hero">Obsah  </h6> @Html.DisplayFor(model=>model.Content)</p>
          <hr />
        <form asp-action="Delete">
          <input type="hidden" asp-for="Id" />
          <input type="submit" value="Smazat" class="btn-use btn-danger" /> 
          <a class="btn-use btn-edit" asp-action="Index">Zpět</a>
        </form>
      </div>
  </div>
</div>
</section>