@model NewPortfolio.Models.Article

@{
    ViewData["Title"] = "Details";
}

<section class="section-index">
    <div class="section-hero">
      <dl class="row">
          <dt class = "col-sm-2">Článek</dt>
                @Html.DisplayFor(model => model.Content)

      </dl>

        <div>
            <a class="btn-use btn-edit" asp-action="Index">Zpět</a>
        </div>
    </div>
</section>

@*@section Scripts{
    @{
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            });
        </script>
    }
}
*@