@model NewPortfolio.Models.Article

@{
    ViewData["Title"] = "Details";
}

<section class="section-index">
    <div class="section-hero">
      <dl class="row">
          <dt class = "col-sm-2">Článek</dt>
              @Html.DisplayFor(model => model.Content)
      </dl>

        <div>
            <a class="btn-use btn-edit" asp-action="Index">Zpět</a>
        </div>
    </div>
</section>