@model IEnumerable<Build> 

@{
    ViewData["Title"] = "Details";
}
<section class="section-index-articles">
    <div class="section-hero">


      
    <a asp-action="Index">Back to List</a>
</div>

</section>