@model IEnumerable<NewPortfolio.Models.BuildPost>



@{
    ViewData["Title"] = "Návody";
}
<section class="section-index-articles">
    <div class="section-hero">

<h3>Zde můžete tvořit návody do her, poznatky, buildy..</h3>
<p>
    <a asp-action="Create" class="btn-use btn-succes">Vytvořit sekci návodů</a>
</p>
<table class="table">
    <thead>
                <tr class="articles-tr">
            <th colspan="2">
                Sekce
            </th>
        
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
                    <tr class="articles-tr-down" >
            <td>
                <a asp-controller="Builds" asp-action="Index" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.BuildName)</a>
            </td>
                @if(User.IsInRole("admin")){
            <td width="10%">
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn-use btn-danger"><i class="ri-chat-delete-line"></i></a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn-use btn-edit"><i class="ri-pencil-line"></i></a>
            </td>
                }
        </tr>
     }
    </tbody>
</table>
<a asp-action="Index" asp-controller="Home" class="btn-use btn-edit">Domů</a>
</div>
</section>