@model NewPortfolio.Models.Avatar




@{
    ViewData["Title"]="Avatar";
}



<section class="section-index">
    <div class="section-hero">


        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" ></div>

            <label asp-for="NameAvatar"></label>
            <input type="text" asp-for="NameAvatar" />


            <label asp-for="ImagePath"></label>
            <input type="file" asp-for="ImagePath"  />





            <input type="submit" value="Vybrat" class="btn-use btn-danger"/>

        </form>








 </div>
 </section>

