
@model IEnumerable<NewPortfolio.Models.Avatar>

@{
    ViewData["Title"] = "Index";
}


<section class="section-index">

    <div class="section-hero">
<div>
    <div>
        <h1>Avatar</h1>
        <a class="btn-use btn-succes" asp-action="AddAvatar" asp-controller="Avatar">Přidat avatara</a>




    </div>
</div>
</div>
</section>