@model NewPortfolio.Models.Build

@{
    ViewData["Title"] = "Delete";
}

<section class="section-index-articles">
    <div class="section-hero">

<h3>Opravdu smazat build?</h3>
<div>
    <h4>Build</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildPost.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn-use btn-danger" /> 
        <a asp-controller="BuildPosts" asp-action="Index" class="btn-edit btn-use">Zpět na buildy</a>
    </form>
</div>

</div>
</section>