@model NewPortfolio.Models.Build

@{
    ViewData["Title"] = "Smazání sestavení postavy";
}

<section class="section-index-articles">
    <div class="section-hero">

<h3>Opravdu smazat sestavu postavy?</h3>
<div>
    <hr />
    <dl class="row">
       
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
      
        <dd class = "col-sm-10">
            <input asp-for="@Model.BuildPost.Id" hidden/>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn-use btn-danger" /> 
        <a asp-controller="BuildPosts" asp-action="Index" class="btn-edit btn-use">Zpět na buildy</a>
    </form>
</div>

</div>
</section>