@model NewPortfolio.Models.Build

@{
    ViewData["Title"] = "Details";
}
<section class="section-index-articles">
    <div class="section-hero">
<h1>Details</h1>

<div>
    <h4>Build</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildPost.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn-use btn-edit" asp-route-id="@Model?.Id">Editovat</a>
    <a asp-controller="BuildPosts" asp-action="Index" class="btn-use btn-edit">Zpět na buildy</a>
</div>

</div>
</section>
