@model IEnumerable<NewPortfolio.Models.Build>

@{
    ViewData["Title"] = "Buildy";
}
<section class="section-index-articles">
    <div class="section-hero">
<p>
    <a asp-action="Create" class="btn-use btn-succes">Vytvořit build</a>
</p>
<table class="table">
    <thead>
        <tr class="articles-tr">
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="articles-tr-down">
                <td>
                   @Html.DisplayFor(modelItem => item.Name)
                </td>

            @if (User.IsInRole("admin"))
            {
                <td>
                   <a asp-action="Edit" asp-route-id="@item.Id" class="btn-use btn-edit">Editovat</a> 
                   <a asp-action="Details" asp-route-id="@item.Id" class="btn-use btn-detail">Detaily</a> 
                   <a asp-action="Delete" asp-route-id="@item.Id" class="btn-use btn-danger">Smazat</a>
               </td>
            }
        </tr>
}
    </tbody>
</table>
<a asp-action="Index" asp-controller="BuildPosts" class="btn-use btn-edit">Zpět</a>
</div>
</section>