@model NewPortfolio.Models.Game

@{
    ViewData["Title"] = "DeleteGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-index-articles">
    <div class="section-hero">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Model.GameName
            </tbody>
        </table>
  
    
    <form asp-action="DeleteGamePost">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn-use btn-danger" /> 
        <a asp-action="ShowAll" class="btn-use btn-edit">Zpět na seznam her</a>
    </form>
  </div>
</section>
