@model IEnumerable<Article>


<section class="section-index-articles">
    <div class="section-hero">
    
            <table>
                <thead>
                    <tr class="articles-tr">
                        <th class="articles-th">
                            Popisek
                        </th>

                        <th>

                            Titulek
                        </th>
                        <th>Obsah článku</th>

                    </tr>


                </thead>
   

    <tbody>

        @foreach(var item in Model)
        {
            <tr class="articles-tr-down">
                <th>
                    <a asp-action="Details" asp-controller="Articles" asp-route-id="@item.Id">@item.Description</a>
                </th>
                <th>
                  @item.Title
                </th>
                <th>
                    @item.Content
                    
                </th>
            </tr>

            

        }
    </tbody>
    </table>
    </div>
</section>