@model NewPortfolio.Models.Humans.Human



@{
    ViewData["Title"] = "Create";
}

<section class="section-show-table">
    <div class="section-hero">

        <form class="form" asp-action="Create">

            <div>

               <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div >
                   <label asp-for="Name" class="control-label"></label>
                   <input asp-for="Name" class="form-control" />
                   <span asp-validation-for="Name" class="text-danger"></span>
               </div>



               <div >
                   <label asp-for="ArticleId" class="control-label"></label>
                   <select asp-for="ArticleId" class ="form-control" asp-items="ViewBag.ArticleId"></select>
               </div>
            </div>
            <div >
                <button type="submit" class="btn-use btn-succes">Uložit</button>
            </div>


        </form>

</div>
</section>

