@model NewPortfolio.Models.Item

@{
    ViewData["Title"] = "Delete";
}


<section class="section-index-articles">
    <div class="section-hero">
<h3>Jste si jistí, že chcete smazat item?</h3>
<div>
   
    <hr />
    <dl class="row">
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameItem)
        </dd>
        <dd class = "col-sm-10">
          <img src=@Html.DisplayFor(model => model.PathItem) width="40" height="40" />
        </dd>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.DescriptionItem)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn-use btn-danger" />
        <a asp-action="Index" class="btn-use btn-edit">Zpět</a>
    </form>
</div>
</div>
</section>