@model AppUser


@{
    ViewData["title"] = "Title"; 
}




<section class="account-profile">


    <div>
        <div>
            <p>
                @Model.NickName
            </p>
            <p>
                Registrován: @Model.DateOfRegister
            </p>
        </div>
        <div>
               Kredity: @Model.Credit 
        </div>

    <div class="account-profile-board">
        <div>
            Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Esse laboriosam exceptur
            i, laborum ex sed nulla dolorem libero veli
            t illo dignissimos tenetur animi pariatur
            natus quasi qui voluptates possimus necessi
            tatibus recusandae, assumenda unde officiis,
            dolore error? Facilis, quidem velit ad blandit
            iis est ea nemo. Veritatis quia ab officia nihi
            l. Non, totam!
        </div>
        <div>
            <label></label>
            <input>
            <textarea class="account-profile-textarea" placeholder="Vložte zprávu"></textarea>
        </div>



    </div>
    <a asp-action="Index" asp-controller="Articles" class="btn-use btn-edit width-btn">Zpět</a>
    <a asp-action="Index" asp-controller="Articles" class="btn-use btn-detail width-btn">Poslat zprávu</a>
</section>