

@{
    ViewData["Title"] = "Administrace účtu";
}

<section class="section-show-table">
    <div class="section-hero">
        <h2 class="site-heading">Administrace účtu</h2>

        <div class="d-flex flex-wrap gap-3 mb-3">
            <a asp-action="LogOut" class="btn-use btn-edit">
                Odhlásit se
            </a>
        </div>
        @if (this.Context.User.IsInRole("admin"))
        {

            <div>
                <a asp-action="Create" asp-controller="Articles" class="btn-use btn-succes">
                    Přidat článek
                </a>

                <a asp-action="Index" asp-controller="Articles" class="btn-use btn-detail">
                    Seznam článků
                </a>
            </div>

        }
    </div>
</section>