@model NewPortfolio.Models.AppUser
@using Microsoft.AspNetCore.Identity;



@{
    ViewData["Title"] = "Administrace účtu";
}


<section class="section-index-articles">
    <div class="section-hero">
    
        <h2 class="site-heading">Administrace účtu</h2>
        <hr>

        <div class="admin-info">
            <h6 class="admin-acc">@User.Identity.Name</h6>
            <h6 class="admin-credit">Počet kreditů: <a id="credits">@ViewData["credit"]</a></h6>
        </div>
     

    <div class="form-group">
          
      @if (this.Context.User.IsInRole("admin"))
        {
            <h3>Administrátor</h3>
        }

        <hr />

            <form class="form-administration" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div>

                <label><small class="small-text">změna stojí 1000 Kreditů</small> </label>
                </div>    
                <div>
                    <a asp-action="SendCredit" class="btn-use btn-edit">Poslat kredit</a>
                </div>
                <div>
                    <input asp-for="NickName" placeholder=" Zadejte přezdívku" class="form-control" />
                    <span asp-validation-for="NickName" class="text-danger"></span>
                </div>
                <hr />

                <div>
                     <div>
                    <img src=@ViewData["img"] class="avatar" />
                     </div>
                    <label for="">Vyberte Avatara velikosti max 4kB</label>
                    <input type="file" name="file" asp-for="ImagePath" />
                </div>
                <hr />

                <div class="admin-acc-btn-div">
                    <button type="submit" class="btn-use btn-danger admin-acc-btn">Uložit změny</button>
                </div>                
            </form>
            <hr />
            <div class="form-btn">
                <a asp-action="Create" asp-controller="Articles" class="btn-use btn-succes">Přidat článek</a>
                <a asp-action="Index" asp-controller="Articles" class="btn-use btn-detail">Seznam článků</a>
                <a asp-action="LogOut" class="btn-use btn-edit">Odhlásit se</a>
            </div>
     </div>
</section>
