@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Přihlášení";
}
<section class="section-index">

    <div class="section-hero">
<section>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form class="d-flex flex-column gap-2" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-use btn-succes">Přihlásit se</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="Register" class="btn-use btn-danger" asp-route-returnurl="@ViewData["ReturnUrl"]">Registrace</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>

</div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
