@model TransferViewModel
@{
    ViewData["title"] = "Poslat kredity";
}

<section class="section-index-articles">
    <div class="section-hero">
        <div class="div-credit">
            <div>
                <form asp-action="ViewSendCredit" method="post" class="">
                    <div class="form-group">
                        <label asp-for="SourceUserId" hidden class="control-label"></label>
                        <input asp-for="SourceUserId" hidden />
                    </div>
                    <div class="form-group">
                        <label asp-for="TargetUserId" hidden class="control-label"></label>
                        <input asp-for="TargetUserId" hidden />
                    </div>
                    <div>
                    
                    <h5>Zadejte částku pro zaslání kreditu</h5>
                        <input asp-for="Amount" class="input-credit" />
                
                    </div>
                    <div>
                        <button type="submit" class="btn-use btn-succes width-btn">Poslat kredit</button>
                        <button class="btn-use btn-edit width-btn">Storno</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
