* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    font-size: 16px;
    overflow-y: unset;
}

body {
    background: var(--bg-body);
}

#credits {
    color: gold;
}

:root {
    --bg-header: #7ca9c4;
    --bg-body: #7898ad;
    --bg-article: #79a4ba;
    --color-header: white;
    --color-body: black;
    --btn-edit: #1a324e;
    --btn-details: #23817d;
    --btn-danger: #c70505;
    --btn-succes: #49a54e;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 99;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 33px 9%;
    background: var(--bg-header);
}

.logo {
    font-size: 2rem;
    font-weight: 600;
    color: #f5791a;
    z-index: 100;
}

.navlist {
    display: flex;
}

    .navlist a {
        color: rgb(0, 255, 213);
        margin-left: 1rem;
        font-size: 1.3rem;
        border-bottom: 3px solid transparent;
        transition: .3s;
    }

        .navlist a:hover {
            border-bottom: 2px solid var(--bg-body);
            text-shadow: 0 0 3px cyan;
        }

.pagination {
    display: flex;
}

.page-link {
    font-size: .7rem;
    width: 30px;
    height: 30px;
    background: #126b89;
    color: black;
    padding: 5px 12px;
    border: 1px solid black;
}

.page-item {
    margin: 5px 0px;
}

.link {
    color: white;
}

.text-area {
    height: 200px;
    max-height: 200px;
    resize: none;
    width: 100%;
}

#menu-icon {
    font-size: 2rem;
    z-index: 101;
    cursor: pointer;
    display: none;
    color: var(--color-header);
}

.section-index {
    position: absolute;
    padding: 0 19%;
    display: flex;
    top: 0px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-body);
}

.section-index-articles {
    position: absolute;
    padding: 0 19%;
    display: flex;
    top: 0px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    background: var(--bg-body);
}

.text-decoration {
    text-decoration: underline;
}


.section-index-tiny {
    position: absolute;
    padding: 0 19%;
    display: flex;
    margin-top: 25px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-body);
}

.site-heading {
    font-size: 2rem;
    text-align: center;
    margin: 0px 19%;
}

.table {
    width: 100%;
    background: #50829f;
}

.table-items {
    align-items: center;
    position: absolute;
}

.section-show-table {
    position: absolute;
    padding: 0 19%;
    display: flex;
    top: 100px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-body);
}


.section-administration {
    position: absolute;
    padding: 0 19%;
    top: 100px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: var(--bg-body);
}

.small-text {
    font-size: .6rem;
    font-weight: 100;
}

.admin-info {
    display: flex;
    justify-content: space-evenly;
}

.admin-acc {
    font-size: 1rem;
    font-weight: 300;
    color: white;
    margin-top: 2rem;
}

.admin-credit {
    font-size: 1rem;
    font-weight: 300;
    color: gold;
    margin-top: 2rem;
}

.form-group {
    margin: 30px 19%;
    top: 40px;
    width: 100%;
}


.admin-acc-btn {
    margin-top: 10px;
}



.admin-acc-btn-div {
    margin-top: 60px;
    display: flex;
}

.form-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}

.form-administration {
    margin-top: 50px;
    width: auto;
}


.div-credit {
    margin: auto;
    display: flow-root;
    position: relative;
    text-align: center;
    background: var(--bg-header);
    margin: 0 20%;
    width: 60%;
    padding: 5px;
}

    .div-credit form {
        text-align: center;
    }

    .div-credit h5 {
        color: rgb(238, 224, 30);
    }

.input {
    background: rgb(146, 188, 204);
    color: rgb(0, 0, 0);
    outline: none;
    border: 1px solid rgb(146, 188, 204);
}

.div-label {
    background: rgb(146, 188, 204);
    border-radius: 20px;
    outline: none;
    margin: 0 15rem;
}

.width-btn {
    width: 200px;
}

.pages {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}


.articles-th {
    width: 8%;
    padding: 0 2px;

}

.articles-th-article {
    width: 50%;
    text-align: left;
    scroll-behavior: auto;
}

.articles-th-btn {
    width: 10%;
}

.articles-tr {
    background: #7ea0c0;
    font-weight: 100;
    padding: 0 5px;
}

#inputSearch {
    background-color: #a1cbf1;
    color: black;
    font-weight: 500;
}

.articles-tr-down {
    background: var(--bg-article);
    padding: 20px;
}

h3 {
    font-size: 1.5rem;
    color: var(--color-header);
}

h2 {
    font-size: 2.5rem;
    color: var(--color-header);
}

.hr {
    margin: 5px 0%;
    color: black;
}

.cleaner {
    clear: both;
}

.registration {
    background: #2aafd2;
    padding: 40px 5px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 3px 3px 8px black;
}

.section-index p {
    font-size: 1.2rem;
    padding-right: 2rem;
    color: var(--color-header);
}

.span {
    font-size: 3rem;
    color: #BA5801;
    transition: .3s;
}

    .span:hover {
        font-size: 3rem;
        text-shadow: 0 0 8px cyan;
    }

.account-layout-content {
    background: var(--bg-article);
    border: 1px solid black;
    margin-top: 10px;
    padding: 5px 5px;
    display: flex;
    width: 100%;
}


.form-control {
    width: 250px;
    background: #ffffff;
}

.account-text {
    padding: 5px;
    position: relative;
    width: 100%;
    border: 1px solid black;
}


.account {
    width: 160px;
    height: auto;
    background: var(--bg-article);
    display: flex;
    border: 1px solid black;
    padding: 5px;
}

.account-view {
    position: relative;
    text-align: left;
    height: auto;
    background: transparent;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.account div {
    margin-right: 5px;
}

.account h6 {
    font-size: 0.8rem;
    color: rgb(243, 203, 27);
}

.account-img {
    padding: 5px;
    background: transparent;
}

/* profil uživatele*/
.account-profile {
    padding: 1% 1%;
    margin: 150px 19%;
    display: flex;
    justify-content: space-between;
    background: var(--bg-article);
}

.account-profile-board {
    margin: 0 10%;
    padding: 5px;
    /* border: 1px solid black; 
     background: #23817d; */
}


.account-profile-textarea {
    width: 100%;
    height: 230px;
    resize: none;
    position: relative;
}

.credit {
    color: gold;
}

/* komentáøe èlánkù*/
.div-comment {
    padding-left: 5px;
    display: flexbox;
    background: var(--bg-article);
    margin-top: 5px;
    border: 1px solid black;
}
    /* komentáøe èlánkù*/
    .div-comment h5 {
        text-decoration: underline;
        color: rgb(0, 19, 128);
    }
/* obrázek pro poslání zprávy */
.img-comment {
    width: 20px;
    vertical-align: sub;
    margin-left: 5px;
}

.div-comment-first {
    display: flex;
    justify-content: space-between;
}

    .div-comment-first p {
        font-weight: 300;
        font-size: .8rem;
    }

.pf {
    display: flex;
    vertical-align: central;
}

    .pf img {
        margin-left: .1rem;
        vertical-align: bottom;
    }

.account-content p,
.account-content span {
    font-size: .6rem;
    color: rgb(0, 0, 0);
}

.account-nickname {
    display: flex;
}

.pf a {
    font-size: .7rem;
    font-weight: 700;
}

.btn {
    color: var(--color-header);
    letter-spacing: .2rem;
    display: inline-block;
    background: var(--bg-header);
    padding: .2rem .6rem;
    margin: .2rem 1rem .2rem 0;
    border: 1px solid cyan;
    border-radius: 1rem;
    transition: .3s ease;
}

    .btn:hover {
        transform: scale(1.1);
        background: transparent;
        box-shadow: 0px 0px 5px cyan;
    }

.width-btn {
    width: 150px;
    height: 25px;
}

.btn-use {
    text-align: center;
    /*  float: right;*/
    color: white;
    font-size: .8rem;
    font-weight: 100;
    padding: .1rem .6rem;
    margin: .1rem;
    border: 1px solid transparent;
}


    .btn-use:hover {
        cursor: pointer;
        opacity: 50%;
        border: 1px solid rgb(59, 131, 160);
    }

.btn-succes {
    background: var(--btn-succes)
}

.btn-edit {
    background: var(--btn-edit);
}

.btn-detail {
    background: var(--btn-details);
}

.btn-danger {
    background: var(--btn-danger);
}

.img-div img {
    width: 80%;
    height: auto;
    transition: .6s ease-in-out;
}

.img-div-muay img {
    width: 80%;
    height: auto;
    transition: .6s ease-in-out;
}

    .img-div-muay img:hover {
        transform: scale(1.6);
    }

.img-div img:hover {
    transform: scale(1.6);
}

.img-sort img {
    width: 300px;
    height: auto;
    transition: .6s ease-in-out;
}

    .img-sort img:hover {
        transform: scale(1.8);
    }

.messages {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    background: var(--bg-header);
}

.messages-head {
    background: var(--bg-article);
}

.messages-th {
    margin: 0 10px;
    padding: 10px 10px;
}

.message-td {
    margin: 0 2px;
    padding: 0 2px;
}


footer {
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: var(--bg-header);
    text-align: center;
    padding-top: .1rem;
    position: fixed;
}

    footer a {
        color: var(--color-header);
        font-size: .8rem;
    }

/* Zde jsou styly pro tabulku*/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}



.p-index {
    color: white;
    font-weight: 100;
    font-size: 1.3rem;
}

.p-contact {
    color: white;
    font-weight: 100;
    font-size: 1.3rem;
    color: rgb(255, 187, 0);
}


.section-hero {
    padding-top: 170px;
    width: 100%;
    padding-bottom: 40px;
}

.h6-hero {
    color: #dbff43;
    font-weight: 200;
}


.avatar {
    width: 60px;
    height: 60px;
    border: 1px solid rgb(47, 153, 47);
}

.avatar-items {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 5px;
}


.p-hero {
    color: white;
    font-weight: 300;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    width: 400px;
}

    .form-group label {
        color: white;
    }


.form-button {
    display: flex;
    justify-content: space-between;
    margin: 2px auto;
}

.ul-index-info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 320px;
    top: 25px;
    padding: 10px;
}

.title {
    color: brown;
    transition: .3s ease-in-out;
}

    .title:hover {
        border-bottom: 1px solid black;
    }

.vertical {
    display: grid;
}


/*Responsive design */
@media (max-width: 1535px) {
    header {
        padding: 0 3%;
        transition: .3s;
    }


   
    .account-profile-board {
        margin: 0 1%;
        padding: 5px;
        /* border: 1px solid black; 
         background: #23817d; */
        width: 90%;
    }

    .account-profile {
        padding: 1% 1%;
        margin: 150px 10%;
        display: flex;
        justify-content: space-between;
        /* background:green; */
    }

    .form-group {
        margin: 30px 2%;
        top: 20px;
        width: 95%;
    }

    .div-credit {
        margin: auto;
        display: flow-root;
        position: absolute;
        text-align: center;
        background: var(--bg-header);
        margin: 0 20%;
        padding: 5px;
    }

    .div-label {
        background: rgb(146, 188, 204);
        border-radius: 20px;
        outline: none;
        width: 80%;
        margin: 3rem;
    }

    .bt-size {
        width: 100px;
    }

    .img-div img,
    .img-div-muay img {
        width: 550px;
        height: auto;
    }

    .section-index,
    .section-index-tiny {
        position: absolute;
        margin-top: 100px;
        padding: 1% 12%;
        width: 100%;
    }

    .text-area {
        width: 85%;
    }
}

@media (max-width: 1460px) {

    .section-index,
    .section-index-tiny {
        position: absolute;
        margin-top: 100px;
        padding: 1% 12%;
        width: 100%;
    }

    .bt-size {
        width: 100px;
    }
}

@media (max-width: 1340px) {
    .img-div img,
    .img-div-muay img {
        width: 350px;
        height: auto;
    }



    .section-index,
    .section-index-tiny {
        position: absolute;
        margin-top: 100px;
        padding: 1% 10%;
        width: 100%;
    }

    .bt-size {
        width: 100px;
    }

    .section h3 {
        font-size: 1.5rem;
    }

    .section h2 {
        font-size: 2.5rem;
    }

    .section p {
        font-size: 1.2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 1195px) {



    .section-index,
    .section-index-tiny {
        position: absolute;
        margin-top: 100px;
        padding: 1% 5%;
        width: 100%;
    }

    .section-index-articles {
        position: absolute;
        margin-top: 100px;
        padding: 1% 1%;
        width: 100%;
    }

    .bt-size {
        width: 100px;
    }

    .div-contact {
        position: absolute;
        left: 0px;
        width: 100%;
    }

        .div-contact h5 {
            text-align: center;
        }

        .div-contact a {
            margin-left: 5rem;
        }

    .img-div,
    .img-div-muay {
        text-align: center;
    }

        .img-div img,
        .img-div-muay img {
            width: 350px;
            height: auto;
        }

    .section-index,
    .section-index-tiny {
        flex-direction: column;
        gap: 1rem;
    }
}


/*pro mobily*/
@media (max-width: 990px) {
    #menu-icon {
        display: block;
    }


    .div-credit {
        margin: auto;
        display: flow-root;
        position: relative;
        text-align: center;
        background: var(--bg-header);
        margin: 0 20%;
        width: 60%;
        padding: 5px;
    }

    .div-label {
        background: rgb(146, 188, 204);
        border-radius: 20px;
        outline: none;
        width: 90%;
        margin: 1rem;
    }

    .account-layout-content {
        border: 1px solid black;
        margin-top: 10px;
        width: 100%;
        display: flex;
    }


    .account-profile {
        margin-top: 80px;
        padding: 0 2%;
    }





    .section-administration,
    .form-administration {
        width: 100%;
        padding: 5%;
    }

    .account-text {
        padding: 5px;
        border: 1px solid black;
        width: 100%;
    }

    .account-text-head p {
        display: flex;
        font-size: .6rem;
    }

    .section-index,
    .section-index-tiny {
        position: absolute;
        margin-top: 100px;
        padding: 1% 1%;
        width: 100%;
    }

    .section-hero {
        padding-top: 30px;
        width: 100%;
        padding-bottom: 40px;
    }

    .navlist {
        display: none;
    }

        .navlist a {
            color: black;
            border: none;
        }

            .navlist a:hover {
                color: white;
                border: none;
            }

        .navlist.open {
            font-size: .8rem;
            position: absolute;
            top: 70%;
            width: 150px;
            right: 0;
            height: 330px;
            display: flex;
            gap: .5rem;
            align-items: center;
            flex-direction: column;
            padding: 50px 10px;
            border-radius: 30px 0 0 30px;
            background: goldenrod;
        }

    .img-div img:hover,
    .img-div-muay img:hover {
        transform: none;
    }

    header {
        height: 70px;
    }
}

@media (max-width: 680px) {
    .img-div img,
    .img-div-muay img {
        width: 100%;
        height: auto;
    }

    .section-index,
    .section-index-tiny {
        position: absolute;
        margin-top: 100px;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}
