* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    font-size: 16px;
    overflow-y: unset;
}


:root {
    --bg-header: #0e3e7c;
    --bg-body: #4d57dd;
    --color-header: white;
    --color-body: black;
    --btn-edit: #1a324e;
    --btn-details: #2988a0;
    --btn-danger: #c70505;
    --btn-succes: #49a54e;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 33px 9%;
    background: var(--bg-header);
}



.logo {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 187, 0);
}

.navlist {
    display: flex;
}

    .navlist a {
        color: rgb(0, 255, 213);
        margin-left: 1rem;
        font-size: 1.3rem;
        border-bottom: 3px solid transparent;
        transition: .3s;
    }

        .navlist a:hover {
            border-bottom: 2px solid var(--bg-body);
            text-shadow: 0 0 3px cyan;
        }

.pagination {
    display: flex;
}

.page-link {
    font-size: .7rem;
    width: 30px;
    height: 30px;
    background: #126b89;
    color: black;
    padding: 5px 12px;
    border: 1px solid black;
}

.page-item {
    margin: 5px 0px;
}

.link {
    color: white;
}


.text-area {
    height: 200px;
    max-height: 200px;
    resize: none;
    width: 100%;
}

#menu-icon {
    font-size: 2rem;
    z-index: 101;
    cursor: pointer;
    display: none;
    color: var(--color-header);
}


.section-index {
    position: absolute;
    padding: 0 19%;
    display: flex;
    top: 0px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-body);
}


.section-index-articles {
    position: absolute;
    padding: 0 19%;
    display: flex;
    top: 0px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    background: var(--bg-body);
}

.text-decoration {
    text-decoration: underline;
}

.section-index-tiny {
    position: absolute;
    padding: 0 19%;
    display: flex;
    margin-top: 25px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-body);
}


.site-heading {
    font-size: 1rem;
}

.section-show-table {
    position: absolute;
    padding: 0 19%;
    display: flex;
    top: 100px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-body);
}




.section-administration {
    position: absolute;
    padding: 0 19%;
    top: 100px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: var(--bg-body);
}

.small-text {
    font-size: .6rem;
    font-weight: 100;
}

.admin-acc {
    font-size: 1rem;
    font-weight: 300;
    color: white;
}


.form-group {
    margin-top: 30px;
    top: 40px;
    width: 100%;
}


.admin-acc-btn {
    margin-top: 10px;
}



.admin-acc-btn-div {
    margin-top: 100px;
}

.form-btn {
    display: flex;
    margin-top: 20px;
    text-align: center;
}

.form-administration {
    margin-top: 50px;
    width: 100%;
}


.pages {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}


.articles-th {
    width: 8%;
    padding: 0 2px;
}

.articles-th-article {
    width: 50%;
}

.articles-th-btn {
    width: 10%;
}

.articles-tr {
    background: #a1cbf1;
    font-weight: 100;
    padding: 0 5px;
}

#inputSearch {
    background-color: #a1cbf1;
    color: black;
    font-weight: 500;
}

.articles-tr-down {
    background: rgb(54, 125, 190);
    margin: 20px;
}

h3 {
    font-size: 1.5rem;
    color: var(--color-header);
}

h2 {
    font-size: 2.5rem;
    color: var(--color-header);
}

.hr {
    margin: 5px 0%;
    color: black;
}

.cleaner {
    clear: both;
}

.registration {
    background: #2aafd2;
    padding: 40px 5px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 3px 3px 8px black;
}

.section-index p {
    font-size: 1.2rem;
    padding-right: 2rem;
    color: var(--color-header);
}

.span {
    font-size: 3rem;
    color: cyan;
    transition: .3s;
}

    .span:hover {
        font-size: 3rem;
        text-shadow: 0 0 8px cyan;
    }

.account-layout-content {
    background: white;
    border: 1px solid black;
    margin-top: 10px;
    padding: 5px 5px;
    width: 600px;
    display: flex;
}


.account-text {
    background: #17b5bb;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid black;
    width: 100%;
}

.account-text-other {
    display: flex;
    border-bottom: 1px solid black;
}

    .account-text-other p {
        color: black;
        font-size: .7rem;
    }

.account-title {
    background: #17b5bb;
}

.account {
    width: 160px;
    height: 70px;
    background: #339c82;
    display: flex;
    border: 1px solid black;
    padding: 5px;
    /* position: absolute;*/
}

    .account div {
        margin-right: 5px;
    }

    .account h6 {
        font-size: 0.8rem;
        color: rgb(243, 203, 27);
    }

.account-img {
    border: 1px solid black;
    padding: 5px;
    background: transparent;
}

.pf {
    display: flex;
}

    .pf img {
        margin-left: .5rem;
    }

.account-content p,
.account-content span {
    font-size: .6rem;
    color: rgb(0, 0, 0);
}

.pf a {
    font-size: .7rem;
    font-weight: 700;
}

.btn {
    color: var(--color-header);
    letter-spacing: .2rem;
    display: inline-block;
    background: var(--bg-header);
    padding: .2rem .6rem;
    margin: .2rem 1rem .2rem 0;
    border: 1px solid cyan;
    border-radius: 1rem;
    transition: .3s ease;
}

    .btn:hover {
        transform: scale(1.1);
        background: transparent;
        box-shadow: 0px 0px 5px cyan;
    }

.btn-use {
    text-align: center;
    float: right;
    color: white;
    font-size: .8rem;
    font-weight: 100;
    padding: .1rem .6rem;
    margin-right: .1rem;
    border: 1px solid transparent;
}


    .btn-use:hover {
        cursor: pointer;
        /* background: transparent; */
        opacity: 50%;
        border: 1px solid rgb(59, 131, 160);
    }

.btn-succes {
    background: var(--btn-succes)
}

.btn-edit {
    background: var(--btn-edit);
}

.btn-detail {
    background: var(--btn-details);
}

.btn-danger {
    background: var(--btn-danger);
}

.img-div img {
    width: 100%;
    height: auto;
    transition: .6s ease-in-out;
}

.img-div-muay img {
    width: 100%;
    height: auto;
    transition: .6s ease-in-out;
}

    .img-div-muay img:hover {
        transform: scale(1.6);
    }

.img-div img:hover {
    transform: scale(1.6);
}

.img-sort img {
    width: 300px;
    height: auto;
    transition: .6s ease-in-out;
}

    .img-sort img:hover {
        transform: scale(1.8);
    }

footer {
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: var(--bg-header);
    text-align: center;
    padding-top: .1rem;
    position: fixed;
}

    footer a {
        color: var(--color-header);
        font-size: .8rem;
    }

/* Zde jsou styly pro tabulku*/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}



.p-index {
    color: white;
    font-weight: 100;
    font-size: 1.3rem;
}

.p-contact {
    color: white;
    font-weight: 100;
    font-size: 1.3rem;
    color: rgb(255, 187, 0);
}


.section-hero {
    width: 100%;
}

.h6-hero {
    color: #dbff43;
    font-weight: 200;
}


.p-hero {
    color: white;
    font-weight: 300;
}
/*

.section-hero-form {
    margin: 0 10%;
    background: #4a566c;
    padding: 0 10%;
}*/
.form-group {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    width: 400px;
}

    .form-group label {
        color: white;
    }


.form-button {
    display: flex;
    justify-content: space-between;
    margin: 2px auto;
}

.ul-index-info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 320px;
    /*background:green;*/
    top: 25px;
    padding: 10px;
}

.title {
    color: brown;
    transition: .3s ease-in-out;
}

    .title:hover {
        border-bottom: 1px solid black;
    }
/*Responsive design zde*/
@media (max-width: 1535px) {
    header {
        padding: 0 3%;
        transition: .3s;
    }

    .bt-size {
        width: 100px;
    }
}

@media (max-width: 1460px) {

    .section-index,
    .section-index-tiny {
        margin-top: 100px;
        padding: 1% 12%;
        width: 100%;
    }

    .bt-size {
        width: 100px;
    }
}

@media (max-width: 1340px) {
    .img-div img,
    .img-div-muay img {
        width: 350px;
        height: auto;
    }



    .section-index,
    .section-index-tiny {
        position: absolute;
        margin-top: 100px;
        padding: 1% 10%;
        width: 100%;
    }

    .bt-size {
        width: 100px;
    }

    .section h3 {
        font-size: 1.5rem;
    }

    .section h2 {
        font-size: 2.5rem;
    }

    .section p {
        font-size: 1.2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 1195px) {


    .section-index,
    .section-index-tiny {
        position: absolute;
        margin-top: 100px;
        padding: 1% 5%;
        width: 100%;
    }

    .section-index-articles {
        position: absolute;
        margin-top: 100px;
        padding: 1% 1%;
        width: 100%;
    }

    .bt-size {
        width: 100px;
    }


    .img-div,
    .img-div-muay {
        text-align: center;
    }

        .img-div img,
        .img-div-muay img {
            width: 350px;
            height: auto;
        }

    .section-index,
    .section-index-tiny {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 990px) {
    #menu-icon {
        display: block;
    }


    .account-layout-content {
        background: white;
        border: 1px solid black;
        margin-top: 10px;
        padding: 5px 5px;
        width: 300px;
        display: flex;
    }

    .section-administration,
    .form-administration {
        width: 100%;
        padding: 5%;
    }

    .account-text {
        background: #17b5bb;
        margin-left: 5px;
        padding: 5px;
        border: 1px solid black;
        width: 100%;
    }

    .section-index,
    .section-index-tiny {
        position: absolute;
        margin-top: 100px;
        padding: 1% 1%;
        width: 100%;
    }

    .navlist {
        display: none;
    }

        .navlist a {
            color: black;
            border: none;
        }

            .navlist a:hover {
                color: white;
                border: none;
            }

        .navlist.open {
            font-size: .8rem;
            position: absolute;
            top: 70%;
            width: 150px;
            right: 0;
            height: 300px;
            display: flex;
            gap: .5rem;
            align-items: center;
            flex-direction: column;
            padding: 50px 10px;
            border-radius: 30px 0 0 30px;
            background: goldenrod;
        }

    .img-div img:hover,
    .img-div-muay img:hover {
        transform: none;
    }
}

@media (max-width: 680px) {
    .img-div img,
    .img-div-muay img {
        width: 100%;
        height: auto;
    }

    .section-index,
    .section-index-tiny {
        position: absolute;
        margin-top: 100px;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}
