@{
    ViewData["Title"] = "Contact";
}

<section class="section-index">
    <div class="section-hero-contact">
        <h5>Hello</h5>
        <h5>Contact me here</h5>


        <p class="p-contact">Tel: 720 33 95 65</p>
        <p class="p-contact">Husova 5</p>
        <p class="p-contact">Brno-Střed</p>
        <p class="p-contact">idontcryadmin@seznam.cz</p>


        <br>
        <div class="cleaner"></div>
        <a class="btn" asp-controller="Home" asp-action="Index">Domů</a>
    </div>
    <div class="img-div-muay">
        <img src="~/images/MuayThaiBrno.jpeg" alt="image">
    </div>
</section>