@{
    ViewData["Title"] = "Kontakt";
}

<section class="section-index">
    <div class="section-hero-contact">
        <div class="div-contact">
        <h5>Zde mi můžete napsat, co by bylo dobré zlepšit nebo upravit</h5>
            <iframe frameborder="0" scrolling="no" width="350px" height="200px"
                src="https://www.itnetwork.cz/api/Service-MailForm/646ce233c755f9.40207747">
            </iframe>
        </div>
        <br>
            <a class="btn" asp-controller="Home" asp-action="Index">Domů</a>
            <a class="btn" asp-controller="Home" asp-action="Experience">Něco o mně</a>
        </div>
        <div>
    </div>
</section>