@{
    ViewData["Title"] = "Experience";
}
<section class="section-index">
    <div class="section-hero">
        <p>
           Only desctop applications and some wpf
        </p>
        <a class="link" href="https://itnetwork.cz">My big teacher here</a>
        <br>
        <div class="cleaner"></div>
        <a class="btn" asp-area="" asp-controller="Home" asp-action="Contact">Hire Me</a>
        <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Back Menu</a>
    </div>
    <div class="img-div">
        <div class="img-sort">
            <img src="~/images/hadejCislo.png" alt="image">
          @*  <img src="~/images/BASE.png" alt="image">*@
        </div>
    </div>
</section>