@{
    ViewData["Title"] = "O mně";
}
<section class="section-index">
    <div class="section-hero">
       <p>Tento projekt je snaha o zdokonalení v programování</p>
       <p>Stránka je ve vývoji, mějte strpení, děkuji</p>
        <a class="link" href="https://itnetwork.cz">Učím se zde</a>
        <br>
        <div class="cleaner"></div>
        <a class="btn" asp-area="" asp-controller="Home" asp-action="Contact">Napsat mi</a>
        <a class="btn" asp-area="" asp-controller="Home" asp-action="Contact">Zpět</a>
     </div>
     <div class="img-div">
       <div class="img-sort">
            <img src="~/images/img1.png" alt="image">
        </div>
    </div>
</section>