@{
    ViewData["Title"] = "Experience";
}
<section class="section-index">
    <div class="section-hero">
        <p>
            NO EXPERIENCE
        </p>
        <a class="link" href="https://www.itnetwork.cz/certifikat/eyJjb3Vyc2VJZCI6MTM2MTUsIm1lbWJlcklkIjo1NzQwMn0=">Certifikát zde</a>
        <br>
        <div class="cleaner"></div>
        <a class="btn" asp-area="" asp-controller="Home" asp-action="Contact">Hire Me</a>
        <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Back Menu</a>
    </div>
    <div class="img-div">
        <div class="img-sort">
            <img src="~/images/NETMVC.png" alt="image">
            <img src="~/images/BASE.png" alt="image">
        </div>
    </div>
</section>