@{
    ViewData["Title"] = "Experience";
}
<section class="section-index">
    <div class="section-hero">
       <p>Tento projekt je snaha o zdokonalení v programování</p>
       <p>Stránka je ve vývoji, mějte strpení, děkuji</p>
        <a class="link" href="https://itnetwork.cz">Učím se zde</a>
        <br>
        <div class="cleaner"></div>
        <a class="btn" asp-area="" asp-controller="Home" asp-action="Contact">Napsat mi</a>
        <a class="btn" asp-area="" asp-controller="Home" asp-action="Contact">Zpět</a>
     </div>
     <div class="img-div">
        <div class="img-sort">
            <p>Data k 6.6.2023 Beta</p>
            <img src="~/images/betadiablo.jpg" alt="image">
        </div>
    </div>
</section>