@{
    ViewData["Title"] = "Home Page";
   
   
}
<section class="section-index">

    <div class="section-hero">
        <h3>Hello</h3>
        <h2>My name Is <span class="span">Peter</span> </h2>
        <h3>This is about me in short article</h3>
        <p>
            I'am Working as an electrical/mechanical serviceman all my career. I have a more experience about my work.
            I help for Swiss company as CNC senior - programmer/setter. Coordination of people in production
        </p>
    
        
        <br>
        <div class="cleaner"></div>
        <a class="btn" asp-area="" asp-controller="Home" asp-action="Contact">Hire Me</a>
        <a class="btn" asp-area="" asp-controller="Articles" asp-action="Index">Articles</a>
    </div>
    <div class="img-div">
        <img src="images/img3.png" alt="image">
    </div>
</section>