@{
    ViewData["Title"] = "Domovská stránka";
}
<section class="section-index">
    <div>
        <h2>Zdravíme vás, toto je fórum o <span class="span">Hrách</span> </h2>
        <p>
            Fórum slouží pro uživatle her, zde si můžou uživatelé přidávat články o hrách, různé poznatky, nebo také vyměňovat věci z her mezi sebou
        </p>
        <br>
        <div class="cleaner"></div>
        <a class="btn" asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a>
        <a class="btn" asp-area="" asp-controller="Articles" asp-action="Index">Články</a>
    </div>
</section>