@{
    ViewData["Title"] = "Home Page";
}
<section class="section-index">
    <div>
        <h2>Zdravíme vás, toto je stránka o <span class="span">Diablo 4</span> </h2>
        <p>
            S vydáním dlouho očekávaného RPGčka jsme se rozhodli vydat fórum, kde se budou psát poznatky a návody ke hře.
            Budou zde různé sekce, kde můžete dávat rady, jaké např. buildy jsou nejlepší, leveling, bonusy atd.
            Stačí se zaregistrovat a můžete přidávat články.
        </p>
        <br>
        <div class="cleaner"></div>
        <a class="btn" asp-area="" asp-controller="Home" asp-action="Contact">Domů</a>
        <a class="btn" asp-area="" asp-controller="Articles" asp-action="Index">Články</a>
    </div>
    <div class="img-div">
        <img src="images/lilith.png" alt="image">
    </div>
</section>