@{
    ViewData["Title"] = "Agree";
}
<section class="section-index">
    <div class="section-hero">
        <p>Souhlasím, že nebudu psát nevhodné výrazy na fóru IdontCry.cz (dále jen fóru)</p>
        <p>Souhlasím, že nebudu urážet uživatele fóra, nevhodnými výrazy, rasistickými, LGBT+ atd </p>
        <p>Souhlasím, že nebudu porušovat pravidla fóra</p>
        <p>Nejsou povoleny obrázky/avatary uživatele sexuálních a jiných nevhodných témat</p>
        <a asp-controller="Account" asp-action="register">Zpět</a>
    </div>
</section>