@{
    ViewData["Title"] = "Agree";
}
<section class="section-index">
    <div class="section-hero">
        <h5 >Smlouva a pravidla o používání LazarusWill.cz</h5>
        <p>Výslovně souhlasíte s tím, že používání služby je na vaše riziko. Provozovatel ani jiný přidružený pracovník nebo společnost nezaručují bezchybný chod služeb.</p>
        <p>LazarusWill.cz si vyhrazuje právo, dle vlastního užívání, kdykoli účtovat poplatky za přístup ke službě.</p>
        <p>Souhlasím, že nebudu psát nevhodné výrazy na fóru LazarusWill.cz (dále jen fóru)</p>
        <p>Souhlasím, že nebudu urážet uživatele fóra nevhodnými výrazy, rasistickými, LGBT+ atd </p>
        <p>Souhlasím, že nebudu porušovat pravidla fóra</p>
        <p>Nejsou povoleny obrázky/avatary uživatele sexuálních a jiných nevhodných témat</p>
        <p>Za porušení pravidel je zodpovědný uživatel</p>
        <p>Žádné násilí</p>
        <p>Žádné vydávání se za jiného uživatele</p>
        <p>Žádné spamování článků</p>
        <p>Žádné odkazy nebo reklama na jinou stránku</p>
        <p>Žádné obchodování se skutečnými věcmi z reálného života</p>
        <p>Porušení pravidel může vést ke ztrátě účtu</p>
        <p></p>
        <a asp-controller="Account" asp-action="register" class="btn-use btn-succes">Registrovat účet</a>
        <a asp-controller="Home" asp-action="Index" class="btn-use btn-edit">Domů</a>
    </div>
</section>