@model NewPortfolio.Models.ArticlePost

@{
    ViewData["Title"] = "Edit";
}
<section class="section-index-articles">
    <div class="section-hero">
<h1>Edit</h1>

<h4>ArticlePost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Post" class="control-label"></label>
                <input asp-for="Post" class="form-control" />
                <span asp-validation-for="Post" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleId" class="control-label"></label>
                <select asp-for="ArticleId" class="form-control" asp-items="ViewBag.ArticleId"></select>
                <span asp-validation-for="ArticleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
</section>
