@model IEnumerable<NewPortfolio.Models.ArticlePost>

@{
    ViewData["Title"] = "Index";
}
<section class="section-index-articles">
    <div class="section-hero">

        <h2>Výpis komentářů</h2>
<p>
    <a asp-action="Create">Nic nedělá tento odkaz</a>
</p>

</div>
</section>