@model IEnumerable<NewPortfolio.Models.ArticlePost>

@{
    ViewData["Title"] = "Seznam příspěvků";
}
<section class="section-index-articles">
    <div class="section-hero">

     
<p>
    <a asp-action="Index" asp-controller="Articles" class="btn-use btn-edit width-btn">Zpět na články</a>
</p>

</div>
</section>